# Project exclude paths
project/target/
project/metals.sbt
project/project
target/

.idea/
.bloop/
.bsp/
.metals/

### Scala ###
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.toptal.com/developers/gitignore/api/scala,intellij
